name: main
on:
  push:
    branches: ["main"]

env:
  AIRFLOW_VERSION: 3.1.3

jobs:

  # Running all tests together collecting global coverage
  tests:
    name: Unit and System tests with cumulated coverage
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup `nomad`
        uses: hashicorp/setup-nomad@main
        id: setup
        with:
          version: ${{ env.PRODUCT_VERSION }}

      - name: Run `nomad version`
        id: version
        run: "nomad version"

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          prune-cache: false
          cache-dependency-glob: "pyproject.toml"

      # Target repo is to be checked out first (order matters!)
      - name: Cloning target repository
        uses: actions/checkout@v4

      # Airflow's python plugin is not portable, thus we use it from the source
      - name: Clone Airflow sources, to enable Airflow pytset plugin
        uses: actions/checkout@v4
        with:
          repository: apache/airflow
          path: airflow
          ref: ${{ env.AIRFLOW_VERSION }}

      - name: Adjust Airflow version for local env
        run: |
          sed -e "s/<AIRFLOW_VERSION>/$AIRFLOW_VERSION/" pyproject.toml.template > pyproject.toml
          echo "Airflow Version is $AIRFLOW_VERSION"
        env:
          AIRFLOW_VERSION: ${{ env.AIRFLOW_VERSION}}

      - name: Run lint checks
        run: |
          uv run tox run -e lint
          uv run tox run -e type

      - name: Run unit tests
        run: |
          uv pip install coverage

          export AIRFLOW_SOURCES=$PWD/airflow
          uv run airflow db reset -y
          COVERAGE_FILE=.coverage_unit uv run pytest -s -v --with-db-init --cov=src tests/unit/nomad

      - name: System tests for NomadExecutor and NomadJobOperator
        run: |
          set -x
          export AIRFLOW_SOURCES=$PWD/airflow
          export AIRFLOW_HOME=$PWD/tests/system/nomad/server/airflow_home
          export _AIRFLOW__SYSTEM_TEST_USE_EXECUTOR=1

          ./tests/system/nomad/scripts/init_airflow_cfg.sh

          uv run airflow db reset -y
          uv run airflow api-server &
          uv run tox run -e system_test
          COVERAGE_FILE=.coverage_system1 uv run pytest -s -v --without-db-init --cov=src tests/system/nomad/

          COVERAGE_FILE=.coverage_system2 uv run pytest -s -v --ignore tests/system/nomad/dags_localexecutor --without-db-init --system --cov=src tests/system/nomad/

      - name: System tests for NomadJobOperator on LocalExecutor
        run: |
          set -x
          export AIRFLOW_SOURCES=$PWD/airflow
          export AIRFLOW_HOME=$PWD/tests/system/nomad/server/airflow_home
          export _AIRFLOW__SYSTEM_TEST_USE_EXECUTOR=1

          rm $AIRFLOW_HOME/airflow.cfg
          ./tests/system/nomad/scripts/init_airflow_cfg.sh localexecutor

          patch .venv/lib/python3.12/site-packages/airflow/sdk/definitions/dag.py tests/system/nomad/patches/patch_airflow_${AIRFLOW_VERSION}

          COVERAGE_FILE=.coverage_system3 uv run pytest -s -v --ignore tests/system/nomad/dags --without-db-init --nomad-test-type=localexecutor  --system --cov=src tests/system/nomad/
        env:
          AIRFLOW_VERSION: ${{ env.AIRFLOW_VERSION }}

      - name: Overall coverage reports
        run: |
          echo "Unittests"
          uv run coverage report --data-file=.coverage_unit

          echo
          echo "System tests 1. (Generic tests)"
          uv run coverage report --data-file=.coverage_system1

          echo
          echo "System tests 2. (NomadExecutor and NomadJobOperator via DAGs)"
          uv run coverage report --data-file=.coverage_system2

          echo
          echo "System tests 3. (NomadJobOperator on LocalExecutor via DAGs)"
          uv run coverage report --data-file=.coverage_system3

          uv run coverage combine -q .coverage_unit .coverage_system1 .coverage_system2 .coverage_system3
          echo
          echo "Accumulated coverage"
          uv run coverage report

      - name: Save nomad logs
        if: failure()
        run: |
          mkdir nomad_logs
          sudo cp -r /tmp/Nomad* nomad_logs
          sudo tar -czvf nomad_logs.tar.gz nomad_logs
          sudo chmod 777 nomad_logs.tar.gz
          mv nomad_logs.tar.gz tests/system/nomad/server/logs

      - name: Collect logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: nomad_provider_test_output
          path: |
            tests/system/nomad/server/logs/*
