name: Publish to Pypi
on:
  release:
    types: [published]

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment: pypi  # Match this with your PyPI trusted publisher
    permissions:
      id-token: write  # Required for trusted publishing

    steps:
      - uses: actions/checkout@v3
      - name: Build and publish
        uses: pypa/gh-action-pypi-publish@release/v1
